


.container{
 
 /* display: flex; */
 justify-content: center;
 text-align: center;
 /* display: inline; */
 flex-direction: row;

}
.box{
   flex-direction: row;
}
.header{
   text-align: center;
}

 td, th {
   border:  2px solid #ddd;
   padding: 8px;
   justify-content: center;
   /* text-align: center; */
   background-color: orange;
}
button{
   align-items: center;
   flex-direction: column;
}




